<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="namedPipeBieren" />
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="tcpBieren" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="httpBieren" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/BierenServiceHost/BierenService.svc"
        binding="wsHttpBinding" bindingConfiguration="httpBieren" contract="BierenServiceReference.IBierenService"
        name="httpBieren">
        <identity>
          <servicePrincipalName value="host/PC24752.ad.core.vdabantwerpen.intra" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://pc24752.ad.core.vdabantwerpen.intra/BierenServiceHost/BierenService.svc"
        binding="netNamedPipeBinding" bindingConfiguration="namedPipeBieren"
        contract="BierenServiceReference.IBierenService" name="namedPipeBieren">
        <identity>
          <servicePrincipalName value="host/PC24752.ad.core.vdabantwerpen.intra" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://pc24752.ad.core.vdabantwerpen.intra/BierenServiceHost/BierenService.svc"
        binding="netTcpBinding" bindingConfiguration="tcpBieren" contract="BierenServiceReference.IBierenService"
        name="tcpBieren">
        <identity>
          <servicePrincipalName value="host/PC24752.ad.core.vdabantwerpen.intra" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="BierenServiceLibrary.BierenService">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/BierenService"/>
            <add baseAddress="net.tcp://localhost/BierenService"/>
            <add baseAddress="http://localhost:8732/BierenService"/>
          </baseAddresses>
        </host>
        <endpoint binding="netNamedPipeBinding"
          contract="BierenServiceLibrary.IBierenService" name="namedPipeBieren"/>
        <endpoint address="mex" binding="mexNamedPipeBinding"
          contract="IMetadataExchange" name="namedPipeBierenMEX"/>
        <endpoint binding="netTcpBinding"
          contract="BierenServiceLibrary.IBierenService" name="tcpBieren"/>
        <endpoint address="mex" binding="mexTcpBinding"
          contract="IMetadataExchange" name="tcpBierenMEX"/>
        <endpoint binding="wsHttpBinding"
          contract="BierenServiceLibrary.IBierenService" name="httpBieren"/>
        <endpoint address="mex" binding="mexHttpBinding"
          contract="IMetadataExchange" name="httpBierenMEX"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>