<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="namedPipeBieren" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="tcpBieren">
                    <reliableSession enabled="true" />
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="httpBieren">
                    <reliableSession enabled="true" />
                </binding>
                <binding name="httpRaden">
                    <reliableSession enabled="true" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/BierenServiceHost/BierenService.svc"
                binding="wsHttpBinding" bindingConfiguration="httpBieren"
                contract="BierenServiceReference.IBierenService" name="httpBieren">
                <identity>
                    <servicePrincipalName value="host/PC24752.ad.core.vdabantwerpen.intra" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://pc24752.ad.core.vdabantwerpen.intra/BierenServiceHost/BierenService.svc"
                binding="netNamedPipeBinding" bindingConfiguration="namedPipeBieren"
                contract="BierenServiceReference.IBierenService" name="namedPipeBieren">
                <identity>
                    <servicePrincipalName value="host/PC24752.ad.core.vdabantwerpen.intra" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://pc24752.ad.core.vdabantwerpen.intra/BierenServiceHost/BierenService.svc"
                binding="netTcpBinding" bindingConfiguration="tcpBieren" contract="BierenServiceReference.IBierenService"
                name="tcpBieren">
                <identity>
                    <servicePrincipalName value="host/PC24752.ad.core.vdabantwerpen.intra" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/BierenServiceHost/RadenService.svc"
                binding="wsHttpBinding" bindingConfiguration="httpRaden" contract="RadenServiceReference.IRadenService"
                name="httpRaden">
                <identity>
                    <servicePrincipalName value="host/PC24752.ad.core.vdabantwerpen.intra" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>