<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="msmqAbonnees">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/abonneeservicequeue"
                binding="netMsmqBinding" bindingConfiguration="msmqAbonnees"
                contract="AbonneeServiceReference.IAbonneeService" name="msmqAbonnees" />
        </client>
    </system.serviceModel>
</configuration>