<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <connectionStrings>
    <add name="abonnees" connectionString="server=PC24752\sqlexpress;database=abonnees;integrated security=true"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="AbonneeServiceLibrary.AbonneeService">
        <host>
          <baseAddresses>
            <add baseAddress="net.msmq://localhost/private/abonneeservicequeue"/>
            <add baseAddress="net.tcp://localhost:810/AbonneeService"/>
          </baseAddresses>
        </host>
        <endpoint binding="netMsmqBinding" contract="AbonneeServiceLibrary.IAbonneeService" name="msmqAbonnees" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" name="tcpAbonneesMEX"/>        
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>
        <binding>
          <security mode="None"/> 
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>

</configuration>
