<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <client />
    <services>
      <service name="AbonneeServiceLibrary.AbonneeService">
        <host>
          <baseAddresses>
            <add baseAddress="net.msmq://localhost/private/abonneeservicequeue"/>
            <add baseAddress="net.tcp://localhost:810/AbonneeService"/>
          </baseAddresses>
        </host>
        <endpoint binding="netMsmqBinding" contract="AbonneeServiceLibrary.IAbonneeService" name="msmqAbonnees" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" name="tcpAbonneesMEX"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>
        <binding>
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>